<div id="search-component">
  <input matInput #searchBox id="search-box" [(ngModel)] = "searchBoxValue" (focus)="search()" (keyup)="search()" placeholder="Assign user..." autocomplete="off" />

  <mat-list class="search-result" [hidden] = "searchBoxValue==''">
    <mat-list-item *ngFor="let user of possibleAssignees$ | async " (click)="assignUser(user)" [hidden]="found(user.id)">
      <a><b>{{user.username}}</b> <i>{{user.firstName}} {{user.lastName}}</i></a>
    </mat-list-item>
  </mat-list>
</div>
