.status-OPENED{
    background-color: green;
}

.status-CLOSED{
    background-color: red;
}

.container  {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
.container .row {
    margin: 0 auto;
}

.container2 {
    position: fixed;
    top: 100px;
    left: 25%;
    padding: 0px;
    width: 50%;
}

.table-full-width {
    width: 100%;
}

button {
    text-transform: uppercase;
}

.del {
    min-width: 1%;
}