.container {
  position: fixed;
  top: 100px;
  left: 25%;
  padding: 0px;
  width: 50%;
}

.left-side {
  border-right: 1px solid silver;
  padding: 10px;
}

.right-side {
  display: block;
  padding: 10px;
  padding-bottom: 100px;
}

.form-full-width {
  width: 100%;
}

button {
  text-transform: uppercase;
}

.del {
  min-width: 1%;
}

.mat-form-field {
  width: 100%;
}
