<br>
<br>
<div class="pull-request-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="openCreatePullRequestDialog()">New Pull request</button>
</div>
<div class="pull-request-container mat-elevation-z8 centeredtable">

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
      <mat-cell *matCellDef="let pullRequest">
        <a [routerLink]="['/repository', repositoryId, 'pull-request', pullRequest.id]">{{pullRequest.title}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Url </mat-header-cell>
      <mat-cell *matCellDef="let pullRequest">
        <a class="nav-link" href="{{pullRequest.url}}" target="_blank">{{pullRequest.url}}</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let milestone; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>