<br>
<br>
<br>
<br>
<br>
<div class="contributors-container mat-elevation-z8 centeredtable">
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="userUsername">
            <mat-header-cell *matHeaderCellDef> User</mat-header-cell>
            <mat-cell *matCellDef="let comment">{{comment.userUsername}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="content">
            <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
            <mat-cell *matCellDef="let comment" [innerHTML]="comment.content"></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let comment; columns: displayedColumns;">
        </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<br>
<br>
<form [formGroup]="form" (ngSubmit)="onCreateComment()" class="example-form">
    <mat-form-field class="example-full-width">
        <textarea (keyup)="onKey($event)" matInput formControlName="content" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="10"
            placeholder="Leave a Comment" required #comment></textarea>
        <mat-error *ngIf="content.invalid && content.touched">
            Please enter comment.
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Add</button>
</form>

<mat-list role="list">
    <mat-list-item role="listitem" (click)="clickOnItem(item)" *ngFor="let item of items">{{ item }}</mat-list-item>
</mat-list>