<mat-card-title class="title">Contributed repositories</mat-card-title>
<div class="repository-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div class="repository-container mat-elevation-z8 centeredtable">

  <mat-table [dataSource]="dataSource" matSort>
  
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let repository"> {{repository.name}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef mat-sort-header> URL </mat-header-cell>
      <mat-cell *matCellDef="let repository"> <a class="nav-link" href="{{repository.url}}" target="_blank">{{repository.url}}</a></mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let repository"> {{repository.description}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let repository; columns: displayedColumns;">
    </mat-row>
  </mat-table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
  